@import "tailwindcss";
@plugin "daisyui" {
    themes: abyss --default --prefersdark, winter;
}

@theme {
  --font-family-mono: "JetBrains Mono", monospace;
}

@layer components {
  .nav-link {
    @apply relative transition-all duration-300 hover:scale-105
           before:content-[''] before:absolute before:bottom-0 before:left-0
           before:w-0 before:h-0.5 before:bg-primary before:transition-all
           before:duration-300 hover:before:w-full;
  }

  .card-hover {
    @apply relative overflow-hidden transition-all duration-300 hover:scale-[1.02];
  }
  
  .card-hover::before,
  .card-hover::after {
    content: '';
    position: absolute;
    background: hsl(var(--p));
    transition: all 0.5s ease;
  }
  
  /* Bottom border - starts from left */
  .card-hover::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
  }
  
  /* Left border - starts from bottom */
  .card-hover::after {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
  }
  
  .card-hover:hover::before {
    width: 100%;
  }
  
  .card-hover:hover::after {
    height: 100%;
  }
  
  .card-hover-top,
  .card-hover-right {
    position: absolute;
    background: hsl(var(--p));
    transition: all 0.5s ease;
    transition-delay: 0.25s;
  }
  
  /* Top border - starts from right */
  .card-hover-top {
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
  }
  
  /* Right border - starts from top */
  .card-hover-right {
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
  }
  
  .card-hover:hover .card-hover-top {
    width: 100%;
  }
  
  .card-hover:hover .card-hover-right {
    height: 100%;
  }
}
