@import "tailwindcss";
@plugin "daisyui" {
    themes: abyss --default --prefersdark, winter;
}

@theme {
  --font-family-mono: "JetBrains Mono", monospace;
}

@layer components {
  .nav-link {
    @apply relative transition-all duration-300 hover:scale-105
           before:content-[''] before:absolute before:bottom-0 before:left-0
           before:w-0 before:h-0.5 before:bg-primary before:transition-all
           before:duration-300 hover:before:w-full;
  }

  .card-hover {
    @apply relative overflow-hidden transition-all duration-300 hover:scale-[1.02]
           before:content-[''] before:absolute before:inset-0 before:border-2
           before:border-primary before:scale-x-0 before:scale-y-0
           before:origin-bottom-left before:transition-transform before:duration-500
           hover:before:scale-x-100 hover:before:scale-y-100;
  }
}
