@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: abyss --default --prefersdark, winter;
}

@theme {
  --font-family-mono: "JetBrains Mono", monospace;
  
  --animate-fade-in: fade-in 0.8s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer components {
  .nav-link {
    @apply relative transition-all duration-300 hover:scale-105
           before:content-[''] before:absolute before:bottom-0 before:left-0
           before:w-0 before:h-0.5 before:bg-primary before:transition-all
           before:duration-300 hover:before:w-full;
  }
  
  .animate-fade-in {
    animation: var(--animate-fade-in);
  }
}
